@using Formulator.Core.Entities
@using Formulator.Application.Interfaces
@inject IFormService formService
@page "/form"

@if (form == null)
{
    <p>Loading Form</p>
} else
{
    <div class="container mx-auto py-5">
        <h1>Form Title: @form.Title</h1>
        <p>@form.Description</p>

        <!--
            TODO:
            * actual (aesthetically pleasing) layout
            * building form based on a Form domain object?
            * taking form inputs and converting into a FormEntry object?
        -->
    </div>
}


@code {
    private Form? form;

    protected override void OnInitialized()
    {
        form = formService.GetForm(1);
    }

    // private Form? form;
    // form = FormService().
    /*
    Form form = Form.NewDraftForm();
    form.Id = 1;

    Form? form = new Form{
        Id = 1,
        Name = "Test",
        Description = "Lorem ipsum blah blah blah"
    };
    */
}