@page "/form"

<PageTitle>Formulator | Form</PageTitle>

<div class="container mx-auto py-5">
    <h1>Form</h1>
    <!-- allow disabling this with a form option? | then there's the option of subscriptions, etc -->
    <p>Built with Formulator</p>

    <!--
        TODO:
        * actual (aesthetically pleasing) layout
        * building form based on a Form domain object?
        * taking form inputs and converting into a FormEntry object?
    -->
</div>