@*
* Copyright 2024 Declan Teevan
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*@
@page "/form"

<PageTitle>Formulator | Form</PageTitle>

@if (form == null)
{
    <p>Loading Form</p>
} else
{
    <div class="container mx-auto py-5">
        <h1>Form Title: @form.Title</h1>
        <p>@form.Description</p>

        <!--
            TODO:
            * actual (aesthetically pleasing) layout
            * building form based on a Form domain object?
            * taking form inputs and converting into a FormEntry object?
        -->
    </div>
}


@code {
    private Form? form;
    /*
    Form form = Form.NewDraftForm();
    form.Id = 1;

    Form? form = new Form{
        Id = 1,
        Name = "Test",
        Description = "Lorem ipsum blah blah blah"
    };
    */
}