@*
* Copyright 2024 Declan Teevan
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*@
@layout HomeLayout
@page "/"

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">A simple form and survey builder!</h1>
            <p class="py-6">Design your customised forms and surveys effortlessly, then easily share them with your audience. Streamlined dashboard to view all your responses.</p>
            <a class="btn btn-primary" href="/login">Get Started</a>
        </div>
    </div>
</div>

<div class="hero min-h-screen bg-base" id="features">
    <div class="hero-content flex-col lg:flex-row">
       <div class="mr-6">
            <h1 class="text-5xl font-bold">Features</h1>
            <ul class="pl-6 py-6 list-disc">
                <li>feature 1</li>
                <li>feature 2</li>
                <li>feature 3</li>
            </ul>
        </div>

        <img src="https://placehold.co/1280x720.png" class="max-w-sm rounded-lg shadow-2xl" />
    </div>
</div>